.grey-text {
    color: #747474;
}



.carousel {
    height: 25rem;
    overflow: hidden;


    background-image: url(../img/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.carousel__info {
    padding-top: 15rem;
    padding-left: 3rem;
}

.carousel__info h4 {
    color: white;
    font-size: 1.5em;
    padding-left:1em;
}



/* video */
.title-big {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
}

.open-popup-link {
    top: 20px;
    right: 30px;
    font-size: 50px
}

.popup-vimeo {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}
.count-number {
    font-size:54;
    font-weight:900;
}
/*features-aboutus*/

.about-us__features {

    background-color: #f8f9ff;
}
.feature__item__bg {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;

}
.about-us__features__body-img-style1 {
    width:50px;
    height:50px;
    border-radius: 50px;
    background-color:rgb(10 191 83 / 10%) ;
    color: #0abf53;
    padding: 1rem;
    display: inline-block;
    margin-bottom: 2rem 3rem;
    

}

.about-us__features__body-img-style2 {
    width:50px;
    height:50px;
    border-radius: 50px;
    background-color:rgb(225 201 73/ 22%) ;
    color: #ffc947;
    padding: 1rem;
    display: inline-block;
    margin-bottom: 2rem 3rem;
    

}


.about-us__features__body-img-style3 {
    width:50px;
    height:50px;
    border-radius: 50px;
    background-color:rgb(255 79 129/ 15%) ;
    color: #ff4f81;
    padding: 1rem;
    display: inline-block;
    margin-bottom: 2rem 3rem;
    

}
.about-us__features__body-text h3 {
padding: 0.5em;

}
/*teachers*/
.link-social {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
}
.no-hover:hover {
    color: black;
}
.teacher__img {
overflow: hidden;
z-index: -1;
}
.social__info {
bottom: -200px;
}
