/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s;

}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

/* TOP HEADER */
.top-header {
    background-color: #0d369f;
}

.nav-link a {
    color: white;
}

.nav-link {
    color: white;
    font-size: 15px;
}

.nav-link i {
    font-size: 14px;
}

.nav-link a:hover {
    color: #ff6e65;
    text-decoration: none;
    transition: all .5s;
}

/* HEADER */

.logo {
    color: #0d369f;
    font-weight: bold;
    font-size: 25px;
}

.logo:hover {
    color: #ff6e65;
    transition: all 0.5s;
}

.headerContent a {
    color: black;
    font-weight: bolder;
    font-size: 16px;
}

.headerContent a:hover {
    color: #ff6e65;
    transition: all 0.5s;
}

/* SEARCH HEADER */
.navbar-nav .search-box{
    display: flex;
}

.input-search input{
    font-size: 15px;
    border: none;
    padding: 10px 35px 10px 20px;
    width: 100%;
    border-radius: 30px;
    border: 2px solid #eee;
}

button.search-btn{
    color: #0d369f;
    right: 5;
    padding-top: 15px;
}