/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    color: #fff;
    opacity: .8;
}

a:hover {
    text-decoration: none;
    color: white;
    opacity: 1;
}

p {
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: .4px;
}

/* TOP HEADER */
.top-header {
    background-color: #0d369f;
}

.nav-link a {
    color: white;
}

.nav-link {
    color: white;
    font-size: 15px;
}

.nav-link i {
    font-size: 14px;
}

.nav-link a:hover {
    color: #ff6e65;
    text-decoration: none;
    transition: all .5s;
}

.nav-link.active {
    color: #ff6e65;
}


.title {
    margin: auto;
    max-width: 700px;
}

.topTitle {
    position: relative;
}

.title-main {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.title-main span {
    color: #ff6e65;
}

.title-main::before,
.title-main::after {
    content: "";
    background-color: gray;
    width: 60px;
    height: 2px;
    right: 0;
    margin: 0 auto;
    position: absolute;
}

.title-main::before {
    left: -20px;
    bottom: -8px;
}

.title-main::after {
    left: 20px;
    bottom: -15px;
}

.title-text {
    text-align: center;
}

/* HEADER */

header.main-header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.logo {
    color: #0d369f;
    font-weight: bold;
    font-size: 25px;
}

.logo:hover {
    color: #ff6e65;
    transition: all 0.5s;
}

.headerContent a {
    color: black;
    font-weight: bolder;
    font-size: 16px;
}

.headerContent a:hover {
    color: #ff6e65;
    transition: all 0.5s;
}


/* SEARCH HEADER */
.navbar-nav .search-box {
    display: flex;
}

.input-search input {
    font-size: 15px;
    border: none;
    padding: 10px 35px 10px 20px;
    width: 100%;
    border-radius: 30px;
    border: 2px solid #eee;
}

button.search-btn {
    color: #0d369f;
    right: 5;
    padding-top: 15px;
}

/*INNER BANNER */

.inner-banner img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 300px;
    object-fit: cover;
}

.inner-banner {
    position: relative;
    color: white;
}

.inner-text {
    position: absolute;
    top: 50%;
}

.inner-text i {
    font-size: 10px;
    line-height: 1;
    color: #d4d4d4;
}

.inner-text span {
    color: #d4d4d4;
}


/* CONTACT */
.cont-left i {
    color: #ff6e65;
    font-size: 20px;
}

.map-iframe iframe {
    border: 10px solid #fff;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 6%);
}

.contact-grid .cont-right a:hover{
    color: #ff6e65;
    cursor: pointer;
}

/* CONTACT-FORM */
.contact-form-left img{
    border-radius: 8px;
}

.form-input input, textarea{
    width: 100%;
    background-color: #f9f9f9;
    font-size: 15px;
    padding: 15px;
    border: 1px solid #eee;
    outline: none;
    font-size: 15px;
    margin-bottom: 16px;    
    border-radius: 8px;
}

.inputMessage{
    height: 120px;
}

.btnSendMessage{
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background-color: #ff6e65;
    border: none;
    border-radius: 4px;
    transition: all .25s;
    margin-bottom: 20px;
}

.btnSendMessage:hover{
    background-color: #0d369f;
    transition: all .25s;
}

/* FOOTER */

.footer-sub {
    padding: 80px 0;
    background: #060e1f;
}

.footerTop {
    padding: 50px;
    max-width: 1000px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    margin: auto;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
    left: 0;
    right: 0;
    top: -60px;
}

.textTop-footer h4 {
    font-size: 35px;
    line-height: 40px;
    font-weight: 600;
}

.formEmail input {
    background: transparent;
    padding: 15px 20px;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 8px 0 0 8px;
}

.formEmail input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #91e6c4;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(46, 202, 139, 0.25);
}

.btnSend {
    padding: 15px 20px;
    border: 1px solid #0d369f;
    border-radius: 0 8px 8px 0;
    background-color: #0d369f;
    color: white;
    font-weight: 600;
}

.btnSend:hover {
    opacity: .9;
}

.footerBot {
    margin-top: 120px;
}

.linkFooter h6 {
    font-weight: bold;
    color: white;
    border-bottom: 1px solid rgb(23 54 88 / 40%);
    padding-bottom: 10px;

}

.linkFooter a {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin-bottom: 10px;
    display: block;
}

.linkFooter i {
    font-size: 10px;
    line-height: 24px;
}

.linkFooter a:hover {
    color: white;
}

.linkCont i {
    font-size: 15px;
    width: 25px;
    color: #fff;
    height: 18px;
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
}

.linkCont a {
    color: #cecece;
    line-height: 25px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}

.About {
    border-left: 1px solid rgb(64 73 82 / 51%);
}

.AboutText p {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
}

.socIcon a {
    color: white;
    height: 35px;
    width: 35px;
    background-color: rgb(255 255 255 / 6%);
    /* display: inline-block; */
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}

.socIcon i {
    font-size: 15px;
    line-height: 35px;
}

.socIcon a:hover {
    opacity: .8;
}

/* COPY RIGHT */
.copy-right{
    background: #040a17;
    padding: 20px 0;
}

.cpy-text a{
    color: #fff;
}