
/* header */
.top-header {
  background: var(--primary-color);
  padding: 14px 15px;
  
}
.top-content {
    vertical-align: middle;
}
.top-header__list {
  display: flex;
}
.top-header__list li {
    margin-right:  2rem;
}
.top-header__list a {
  color: white;
}
