@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --primary-color: #0d369f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: .4px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body,
html {
    font-family: 'Montserrat', sans-serif;

    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

/* TOP HEADER */
.top-header {
    background-color: #0d369f;
}

.nav-link a {
    color: white;
}

.nav-link {
    color: white;
    font-size: 15px;
}

.nav-link i {
    font-size: 14px;
}

.nav-link a:hover {
    color: #ff6e65;
    text-decoration: none;
    transition: all .5s;
}

/* TITLE */

.title {
    margin: auto;
    max-width: 700px;
}

.topTitle {
    position: relative;

}

.title-main {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.title-main span {
    color: #ff6e65;
}

.title-main::before,
.title-main::after {
    content: "";
    background-color: gray;
    width: 60px;
    height: 2px;
    right: 0;
    margin: 0 auto;
    position: absolute;
}

.title-main::before {
    left: -20px;
    bottom: -8px;
}

.title-main::after {
    left: 20px;
    bottom: -15px;
}

.title-text {
    text-align: center;
}

.counter {
    border-right: 1px solid #eee;
}

.numCount {
    font-size: 46px;
    font-weight: 600;
    color: #060606;
}

.textCount {
    color: #060606;
}

.authorImg img {
    border-radius: 50%;
}

.authorText {
    margin-left: 10px;
}

.contentCard {
    background-color: white;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    padding: 2rem;
    border-radius: 4px;
}

.contentCard span {
    font-size: 22px;
    line-height: .8;
    color: #ff6e65;
}

/* INSTRUCTORS */
.instructors-contentCard {
    background-color: white;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    padding: 10px;
    border-radius: 8px;
}

.memberImg img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.member-top {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.instructors-contentCard:hover .memberContact {
    bottom: 0px;
}

.instructors-contentCard:hover .memberText h5 {
    color: #ff6e65;
    transition: 0.5s all;
}

.memberContact {
    position: absolute;
    background: rgb(8 8 8 / 29%);
    padding: 20px 0;
    width: 100%;
    text-align: center;
    bottom: -200px;
    transition: 0.5s all;
}

.icon a {
    background: #fff;
    width: 28px;
    height: 28px;
    display: inline-block;
    border-radius: 50%;
}

.icon i {
    color: #0d369f;
    font-size: 14px;
    line-height: 28px;
}

.icon a:hover {
    opacity: .8;
}

.memberText h5 {
    font-weight: 600;
    cursor: pointer;
}

.contactText h3 {
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
}

.contactText p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .4px;
}

.btncontact {
    background-color: #ff6e65;
    color: #fff;
    padding: 14px 30px;
    transition: 0.3s ease-out;
    font-weight: 600;
}

.btncontact:hover {
    background-color: #0d369f;
    color: #fff;
    padding: 14px 30px;
    transition: 0.3s ease-out;
    font-weight: 600;
}

/* FOOTER */

.footer-sub {
    padding: 80px 0;
    background: #060e1f;
}

.footerTop {
    padding: 50px;
    max-width: 1000px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    margin: auto;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
    left: 0;
    right: 0;
    top: -60px;
}

.textTop-footer h4 {
    font-size: 35px;
    line-height: 40px;
    font-weight: 600;
}

.formEmail input {
    background: transparent;
    padding: 15px 20px;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 8px 0 0 8px;
}

.formEmail input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #91e6c4;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(46, 202, 139, 0.25);
}

.btnSend {
    padding: 15px 20px;
    border: 1px solid #0d369f;
    border-radius: 0 8px 8px 0;
    background-color: #0d369f;
    color: white;
    font-weight: 600;
}

.btnSend:hover {
    opacity: .9;
}

.footerBot {
    margin-top: 120px;
}

.linkFooter h6 {
    font-weight: bold;
    color: white;
    border-bottom: 1px solid rgb(23 54 88 / 40%);
    padding-bottom: 10px;

}

.linkFooter a {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin-bottom: 10px;
    display: block;
}

.linkFooter i {
    font-size: 10px;
    line-height: 24px;
}

.linkFooter a:hover {
    color: white;
}

.linkCont i {
    font-size: 15px;
    width: 25px;
    color: #fff;
    height: 18px;
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
}

.linkCont a {
    color: #cecece;
    line-height: 25px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}

.About {
    border-left: 1px solid rgb(64 73 82 / 51%);
}

.AboutText p {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
}

.socIcon a {
    color: white;
    height: 35px;
    width: 35px;
    background-color: rgb(255 255 255 / 6%);
    /* display: inline-block; */
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}

.socIcon i {
    font-size: 15px;
    line-height: 35px;
}

.socIcon a:hover {
    opacity: .8;
}

/* COPY RIGHT */
.copy-right{
    background: #040a17;
    padding: 20px 0;
}

.cpy-text a{
    color: #fff;
}