@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
:root {
    --primary-color: #0d369f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body,html{
    font-family: 'Montserrat', sans-serif;
    
font-weight: 500;
line-height: 1.5;
color: #212529;
text-align: left;
}

/* TOP HEADER */
.top-header {
    background-color: #0d369f;
}

.nav-link a {
    color: white;
}

.nav-link {
    color: white;
    font-size: 15px;
}

.nav-link i {
    font-size: 14px;
}

.nav-link a:hover {
    color: #ff6e65;
    text-decoration: none;
    transition: all .5s;
}
